fonts {
  font-family: 'Macondo Swash Caps', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Macondo', cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
  